<!DOCTYPE html>
<html lang="uk">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H13YNG7KEM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-H13YNG7KEM');
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <base href="">
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <title>PRO.SHTOR</title>
    <link rel="canonical" href="https://www.proshtor.com"/>
    <!-- Info for preview -->
    <meta property="og:site_name" content="PRO.SHTOR"/>
    <meta property="og:title" content="PRO.SHTOR"/>
    <meta property="og:url" content="https://www.proshtor.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Штори, Жалюзі, Ролети за 3 дні в Києві та області. Працюємо 24/7"/>
    <meta property="og:image" content="{{ url_for('static', filename='images/111.png') }}"/>
    <meta property="og:image:width" content="1500"/>
    <meta property="og:image:height" content="843"/>
    <meta itemprop="name" content="PRO.SHTOR"/>
    <meta itemprop="url" content="https://www.proshtor.com"/>
    <meta itemprop="description" content="Штори, Жалюзі, Ролети за 3 дні в Києві та області. Працюємо 24/7"/>
    <meta itemprop="thumbnailUrl" content="{{ url_for('static', filename='images/111.png') }}"/>
    <link rel="image_src" href="{{ url_for('static', filename='images/111.png') }}" />
    <meta itemprop="image" content="{{ url_for('static', filename='images/111.png') }}"/>
    <meta name="twitter:title" content="PRO.SHTOR"/>
    <meta name="twitter:image" content="{{ url_for('static', filename='images/111.png') }}"/>
    <meta name="twitter:url" content="https://www.proshtor.com"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Штори, Жалюзі, Ролети за 3 дні в Києві та області. Працюємо 24/7"/>
    <meta name="description" content="" />
    <!-- CSS  -->
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.13/dist/css/uikit.min.css" />
    <link href="{{ url_for('static', filename='css/index.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <header>
      <div class="uk-logo uk-align-center" href="/">
          <img class="logo" src="../static/images/111.png" alt="Logo">
      </div>
      <nav class="uk-navbar-container" style="background: url('../static/images/header_banner.png'); color: #fff;">
        <div class="uk-container">
            <div uk-navbar>
                <div class="uk-navbar-center">
                    <div class="uk-navbar-center">
                        <ul class="uk-navbar-nav">
                            <li class="uk-icon"><a href="" class="uk-icon-link" uk-icon="instagram"></a></li>
                            <li class="uk-icon"><a href="" class="uk-icon-link" uk-icon="facebook"></a></li>
                            <li class="uk-icon"><a href="" class="uk-icon-link" uk-icon="tiktok"></a></li>
                            <li>
                                <a href="#">Продукція</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="#curtains" uk-scroll="offset:80;">Штори</a></li>
                                        <li><a href="#">Жалюзі</a></li>
                                        <li><a href="#">Ролети</a></li>
                                        <li><a href="#">Москітні сітки</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#">Про нас</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="#">Як ми працюємо</a></li>
                                        <li><a href="#">Контакти</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    </header>
    <slider>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay: true;min-height: 400; max-height: 900;autoplay-interval: 4000;pause-on-hover: false">

            <ul class="uk-slideshow-items">
                <li>
                    <div class="uk-position-cover">
                        <img src="../static/images/1-3.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-position-small uk-text-center uk-light">
                            <h2 class="uk-margin-remove">Жалюзі</h2>
                            <div class="uk-container uk-flex uk-height-small uk-margin uk-text-center uk-animation-toggle">
                                <button class="uk-margin-auto uk-margin-auto-vertical uk-button uk-button-danger uk-animation-shake" type="button" uk-toggle="target: #callback-form">
                                  Замовити безкоштовний замір
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-position-cover">
                        <img src="../static/images/63.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-position-small uk-text-center uk-light">
                            <h2 class="uk-margin-remove">Штори</h2>
                            <div class="uk-container uk-flex uk-height-small uk-margin uk-text-center uk-animation-toggle">
                                <button class="uk-margin-auto uk-margin-auto-vertical uk-button uk-button-danger uk-animation-shake" type="button" uk-toggle="target: #callback-form">
                                  Замовити безкоштовний замір
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="uk-position-cover">
                        <img src="../static/images/53.jpg" alt="" uk-cover>
                        <div class="uk-position-center uk-position-small uk-text-center uk-light">
                            <h2 class="uk-margin-remove">Ролети</h2>
                            <div class="uk-container uk-flex uk-height-small uk-margin uk-text-center uk-animation-toggle">
                                <button class="uk-margin-auto uk-margin-auto-vertical uk-button uk-button-danger uk-animation-shake" type="button" uk-toggle="target: #callback-form">
                                  Замовити безкоштовний замір
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <a class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        </div>
    </slider>

    <hr class="uk-divider-icon">
    <h3 class="uk-text-center" style="color: #fff;margin-top: 20px;">Наша продукція</h3>
    <a href="#" style="color: #fff;margin-left:95%;" class=" uk-margin-remove-top uk-margin-left" uk-totop uk-scroll uk-sticky="offset: 200"></a>
    <hr class="uk-divider-icon">

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img id="curtains" src="../static/images/1_3.png" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div style="background: color: #fff;">
            <div class="uk-card-body">
                <h3 class="uk-card-title">Штори</h3>
                <p>Наші штори створюють теплу та затишну атмосферу у будь-якому приміщенні. Від класичних до сучасних стилів, в нашому асортименті ви знайдете штори різних кольорів та дизайнів, які створять унікальний образ вашої кімнати.</p>
                <div class="uk-grid-small uk-child-width-auto" uk-grid>
                    <div>
                        <a class="uk-button uk-button-text" href="#" style="color: #fff;">Read more</a>
                    </div>
                    <div>
                        <a class="uk-button uk-button-text" href="#" style="color: #fff;">5 Comments</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="uk-divider-icon">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="../static/images/2_1.png" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Жалюзі</h3>
                <p>Наші жалюзі - це простий та елегантний спосіб контролювати вхід світла в приміщення. Вони доступні в різних матеріалах та кольорах, що дозволяє підібрати відповідні жалюзі для будь-якого інтер'єру.</p>
                <div class="uk-grid-small uk-child-width-auto" uk-grid>
                    <div>
                        <a class="uk-button uk-button-text" href="#" style="color: #fff;">Більше прикладів робіт</a>
                    </div>
                    <div>
                        <a class="uk-button uk-button-text" href="#" style="color: #fff;">5 Коментарів</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="uk-divider-icon">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="../static/images/1_3.png" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Ролети</h3>
                <p>Наші ролети - це простий та ефективний спосіб захистити ваші вікна від сонячних променів та забезпечити приватність. Вони доступні в різних матеріалах та кольорах, що дозволяє підібрати відповідні ролети для будь-якого інтер'єру.</p>
                <div class="uk-grid-small uk-child-width-auto" uk-grid>
                    <div>
                        <a class="uk-button uk-button-text" href="#" style="color: #fff;">Read more</a>
                    </div>
                    <div>
                        <a class="uk-button uk-button-text" href="#" style="color: #fff;">5 Comments</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="uk-divider-icon">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="../static/images/2_1.png" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Москітні сітки</h3>
                <p>Москітні сітки - це ідеальний вибір для тих, хто хоче захистити свій дім від комах та інших небажаних гостей. Вони дозволяють зберегти свіже повітря та природне освітлення, але утримують більшість комах зовні. Ми пропонуємо москітні сітки різних типів та матеріалів</p>
            </div>
        </div>
    </div>
    <footer class="uk-section uk-section-primary uk-preserve-color">
      <div class="uk-container">
          <div class="uk-grid-match uk-child-width-expand@m" uk-grid >
              <div>
                  <div class="uk-card uk-card-default uk-card-body uk-padding" style="color: white;background: url('../static/images/razdely_2.png');border:0px;">
                      <h5 class="contacts">Контакти:</h5>
                      <p class="contacts">Телефон:  +380 (50) 914 14 70</p>
                      <p   class="contacts">email:  proshtor@gmail.com</p>
                  </div>
              </div>
              <div>
                  <div>
                        <div class="map">
                          <!-- Paste your Google Maps embed code here -->
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.2696162057155!2d30.508379194113132!3d50.47332421639096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf486a5c7041%3A0xdc56c361486d13a5!2sPRO.Shtor!5e0!3m2!1suk!2sua!4v1680758199019!5m2!1suk!2sua" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  </body>
  <!-- This is the modal -->
  <div uk-modal id="callback-form">
      <div class="uk-modal-dialog uk-modal-body">
        <form id="my-form">
          <fieldset class="uk-fieldset">
            <legend class="uk-legend uk-text-center">Замовлення безкоштовного заміру</legend>
            <div class="uk-margin input-back">
                <input class="uk-input" id="name-input" type="text" placeholder="Імʼя" aria-label="Input">
            </div>
            <div class="uk-margin input-back">
                <input class="uk-input" id="phone-input" type="text" placeholder="Номер телефону" aria-label="Input">
            </div>
            <div class="uk-margin input-back">
                <textarea class="uk-textarea" id="text-input" rows="5" placeholder="Можливо у Вас є питання до нас? Ви можете написати його" aria-label="Textarea"></textarea>
            </div>
          </fieldset>
        <button class="uk-button uk-button-accept uk-text-center" type="submit">Відправити</button>
        </form>
      </div>
    </div>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KZ6KJ50MPH">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-KZ6KJ50MPH');
  </script>
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.13/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.13/dist/js/uikit-icons.min.js"></script>
  <script src="../static/js/script.js"></script>
</html>
