<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
  <title>Proshtor</title>
</head>
<body>
  <div class="header">
      <img class="my-image" src="{{ url_for('static', filename='images/222.png') }}" alt="Logo">
  </div>
  <div class="logo-center">
      <img src="{{ url_for('static', filename='images/111.png') }}" alt="Logo">
  </div>
  <div class="text" style="color: white;">
        <p>Сайт тимчасово не доступний. Ви можете знайти нас у <a
                href="https://instagram.com/proshtor?igshid=YmMyMTA2M2Y=">Інстаграм</a></p>
        <p>Дуже скоро ми повернемось та зробимо цей світ краще</p>
        <p>Слава Україні!</p>
  </div>
  <div class="footer">
      <img src="{{ url_for('static', filename='images/222.png') }}" alt="Logo">
  </div>
</body>
</html>
