html{
    background: #333333;
}

body {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.uk-navbar-nav > li > a {
  padding: 0 0;
  color: #fff;
  text-transform: uppercase;
  transition: .1s ease-in-out;
    transition-property: all;
  transition-property: color,background-color;
}

.uk-navbar-nav > li:hover > a {
  padding: 0 0;
  color: #cd0109;
  text-transform: uppercase;
  transition: .1s ease-in-out;
    transition-property: all;
  transition-property: color,background-color;
}

.uk-navbar-dropdown-nav > li > a {
  color: #fff;
}

.uk-navbar-dropdown-nav > li:hover > a {
  color: #cd0109;
}

.uk-navbar-dropdown {
  --uk-position-offset: 15px;
  --uk-position-shift-offset: 0;
  --uk-position-viewport-offset: 15px;
  width: 200px;
  padding: 25px;
  background: #393939;
  color: #666;
  box-shadow: 0 5px 12px rgba(0,0,0,.15);
}

.logo{
  width: 30%;
  margin-left:35%;
  margin-right:35   %;
}

.uk-card-default .uk-card-title {
  color: #fff;
}

footer {
   margin-top: 10%;
   margin-bottom: 10%;
   font-size: 14px;
}

iframe {
  width: 100%;
}

.contacts {
  width: 100%;
  font-size: 18px;
}

.uk-section-primary {
  background: #353535;
}


@media (max-width: 491px) {
  .uk-button {
    font-size: 13px;
  }
}

.uk-button-accept {
  background-color: #059b00;
  color: #fff;
  border: 1px solid transparent;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.uk-button-danger {
  background-color: #cb0002;
  color: #fff;
}

.uk-button-danger:hover {
  background-color: #cb0002b8;
  color: #fff;
}

.uk-modal-dialog {
  background: #333333;
}

.uk-input {
  background: #353535;
  color: #fff;
}

.uk-input:focus {
  background: #353535;
  color: #fff;
}

.uk-textarea {
  background: #353535;
  color: #fff;
}

.uk-textarea:focus {
  background: #353535;
  color: #fff;
}

.uk-legend {
  color: #fff;
}

@font-face {
    font-family: 'Nautilus';
    src: url('../fonts/Days Sans Black.otf');
    font-weight: normal;
    font-style: normal;
}

h1, a, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Nautilus";
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}