html{
    background: #333333;
}

@font-face {
    font-family: 'Nautilus';
    src: url('../fonts/Days Sans Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaysSansBlack';
    src: url('../fonts/Days Sans Black.otf');
    font-weight: normal;
    font-style: normal;
}

ul {
    font-family: 'DaysSansBlack';
    font-size: 15px;
}

.button {
    font-family: 'DaysSansBlack';
}

body {
    background-color: #333333;
    color: #fff;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 25px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Nautilus";
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}

main {
    margin-top: 4%;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #333333;
}

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .25em;
  box-sizing: border-box;
  min-height: 0px;
  font-size: .875rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  text-decoration: none;
}

.s-item {
  margin: 10px;
}

@media (min-width: 960px) {
  .uk-section {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.uk-section {
  background: #333333;
}

@media (max-width: 491px) {
  .uk-button {
    font-size: 13px;
  }
}

.uk-button-accept {
  background-color: #059b00;
  color: #fff;
  border: 1px solid transparent;
}

.uk-button-danger {
  background-color: #cb0002;
  color: #fff;
}

.uk-button-danger:hover {
  background-color: #cb0002b8;
  color: #fff;
}

.uk-modal-body {
  background: #333333;
}

.uk-fieldset {
  font-size: 15px;
}

.uk-height-small {
  height: 100px;
}

footer {
   margin-top: 10%;
   margin-bottom: 10%;
   font-size: 14px;
}

iframe {
  width: 100%;
}

.contacts {
  width: 100%;
  font-size: 18px;
}

.uk-padding {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
}
.uk-iconnav > * {
  padding-left: 0px;
}

.uk-iconnav {
  margin-left: 0px;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.0;
  -webkit-text-size-adjust: 100%;
  color: #666;
}

.how-we-work {
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

p {
  color: #fff;
}

.uk-overlay-default {
  background: rgba(47, 42, 42, 0.8);
  width: 60%;
}