/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav .brand-logo {
    max-width: 141px;
    margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  nav .brand-logo {
    max-width: 20%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .carousel {
    overflow: hidden;
    position: relative;
    width: 90%;
    height: 400px;
    -webkit-perspective: 500px
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
      margin-right: 5%;
      margin-left: 5%;
      margin-top: 1%;
    }
}

.carousel-h1{
  text-align: center;
}